<% @projects.each do |project| %>
  <div class="blog-format">
    <%= image_tag project.picture.url(:medium) %>
    <p><%= project.created_at.strftime("%A, %b, %d") %></p>
    <p><%= link_to project.title, project %></p>
  </div>
<% end %>

<%= will_paginate @projects %>
