
<% @posts.each do |post| %>
  <div class="blog-format">
    <%= image_tag post.image %>
    <p><%= post.created_at.strftime("%A, %b, %d") %></p>
    <p><%= link_to post.title, post %></p>
  </div>
<% end %>

<%= will_paginate @posts %>
