<div class="row small-up-1 medium-up-2 large-up-3">
  <% @posts.each do |post| %>
    <article class="hovereffect column">
      <%= link_to image_tag(post.picture.url(:medium)), post %>
      <div class="overlay">
        <br>
        <p><%= post.created_at.strftime("%A, %b, %d") %></p>
        <p><%= link_to post.title, post %></p>
      </div>
    </article>
  <% end %>
</div>
<%= will_paginate @posts %>
